[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=postman
Icon=/opt/postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
