[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Popcorn Time
Name[en_US]=Popcorn Time
GenericName=BitTorrent Stream Player
GenericName[en_US]=BitTorrent Stream Player
Comment=Run the Popcorn Time application
Comment[en_US]=Run the Popcorn Time application
Type=Application
Terminal=false
Exec=/opt/popcorn-time/Popcorn-Time
Icon=/opt/popcorn-time/src/app/images/icon.png
Categories=AudioVideo;Player;Video;
Keywords=Player;Audio;Video;
